.header{
   background-color: #EEE1F0;
}
.header_search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 50px;
    padding-right: 147px;
    padding-bottom: 10px;
}
.header_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Lato";
    font-size: 25px;
    padding-top: 20px;

}
